<object width="250" height="40" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="gsSong3541868476" name="gsSong{{player.songId}}">
  <param name="movie" value="http://grooveshark.com/songWidget.swf" />
  <param name="wmode" value="window" />
  <param name="allowScriptAccess" value="always" />
  <param name="flashvars" value="hostname=cowbell.grooveshark.com&songIDs={{player.songId}}&style=metal&p=0" />
  <object type="application/x-shockwave-flash" data="http://grooveshark.com/songWidget.swf" width="250" height="40">
    <param name="wmode" value="window" />
    <param name="allowScriptAccess" value="always" />
    <param name="flashvars" value="hostname=cowbell.grooveshark.com&songIDs={{player.songId}}&style=metal&p=0" />
    <!-- <span>Gone Wind by <a href="http://grooveshark.com/artist/Llamabeats/1206779" title="Llamabeats">Llamabeats</a> on Grooveshark</span> -->
  </object>
</object>