[submodule "lib/Symfony/Component/Yaml"]
	path = lib/Symfony/Component/Yaml
	url = https://github.com/symfony/Yaml.git
[submodule "lib/Symfony/Component/ClassLoader"]
	path = lib/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader.git
[submodule "lib/Twig"]
	path = lib/Twig
	url = git://github.com/fabpot/Twig.git
[submodule "lib/LastFm"]
	path = lib/LastFm
	url = https://github.com/KnpLabs/php-lastfm-client.git
[submodule "lib/Cache"]
	path = lib/Cache
	url = https://github.com/pear/Cache_Lite
[submodule "web/js/cluetip"]
	path = web/js/cluetip
	url = https://github.com/kswedberg/jquery-cluetip.git
