@font-face { 	font-family: "Rainmaker"; 	src: url('../fonts/rainmaker/TheRainmaker.otf'); }
@font-face { 	font-family: "Archisto"; 	src: url('../fonts/archisto/Archistico Simple.ttf'); }
@font-face { 	font-family: "Coolvetica"; 	src: url('../fonts/coolvetica/coolvetica rg.otf'); }


*{
    margin:0;
    padding:0;
}
body{
    font-family:"Myriad Pro","Trebuchet MS", Helvetica, sans-serif;
    font-size:16px;
    color:#fff;
/*    background-color:#000;*/
    overflow-x:hidden;

    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-color: black;
}
h1{
    margin:20px;
    font-size: 60px;
    position: relative;
    font-family: "Rainmaker";
    text-shadow: 2px 2px 5px rgb(129, 14, 253);
    color: white;
}
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: right;
  padding: 5px 10px;
  background-color: black;
  font-weight: bold;
  font-size: 80%;
  box-shadow: 2px 2px 5px black;
  margin: 10px 0;
  opacity: 0.8;
}

.st_main img.st_preview{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
}
.st_overlay{
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
/*    background:transparent url(../images/pattern.png) repeat-x bottom left;*/
    z-index: -9999;
    opacity:0.3;
background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
/*
.st_loading{
    position:fixed;
    top:10px;
    right:0px;
    background:#000 url(../images/icons/loader.gif) no-repeat 10px 50%;
    padding:15px 40px 15px 60px;
    -moz-box-shadow:0px 0px 2px #000;
    -webkit-box-shadow:0px 0px 2px #000;
    box-shadow:0px 0px 2px #000;
    opacity:0.6;
}*/

ul.st_navigation{
    position:absolute;
    width:100%;
    /*top:140px;*/
    left:-300px;
    list-style:none;
    padding-bottom: 40px;
}
ul.st_navigation:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

ul.st_navigation li {
    float:left;
    clear:both;
    margin-bottom:8px;
    position:relative;
    width:100%;
}

ul.st_navigation li span.st_link{
    background-color:#a0a0a0;
    float:left;
    position:relative;
    line-height:50px;
    padding:0px 20px;
    -moz-box-shadow:0px 0px 2px #000;
    -webkit-box-shadow:0px 0px 2px #000;
    box-shadow:0px 0px 2px #000;
}

ul.st_navigation li span.st_arrow_down,
ul.st_navigation li span.st_arrow_up{
    /*position:absolute;*/
    display: inline-block;
    margin-left:15px;
    width:16px;
    height:16px;
    cursor:pointer;
    -moz-box-shadow:0px 0px 6px #000;
    -webkit-box-shadow:0px 0px 6px #000;
    box-shadow:0px 0px 6px #000;
    vertical-align: middle;
}
ul.st_navigation li span.st_arrow_down{
    background:#a0a0a0 url(../images/icons/Add.png) no-repeat center center;
}
ul.st_navigation li span.st_arrow_up{
    background:#a0a0a0 url(../images/icons/Remove.png) no-repeat center center;
}

.st_wrapper{
    display:none;
    position: absolute;
    width:100%;
    height:327px;
    overflow-y:hidden;
    top:50px;
    left:0px;
}

.st_thumbs{
    height:322px;
    margin: 0;
}

.st_thumbs img{
    /*float:left;*/
    margin:3px 3px 0px 0px;
    cursor:pointer;
    -moz-box-shadow:1px 1px 5px #000;
    -webkit-box-shadow:1px 1px 5px #000;
    box-shadow:1px 1px 5px #000;
    opacity:0.7;
}

.st_about{
    display:none;
    position:absolute;
    top:50px;
    left:0px;
    opacity:0.6;
}

.st_subcontent{
    background:#000;
    padding:30px;
    -moz-box-shadow:0px 0px 10px #000;
    -webkit-box-shadow:0px 0px 10px #000;
    box-shadow:0px 0px 10px #000;
}

.memo {
  display: none;
}



.tagList {
  margin: 0 auto;
    padding: 0;
}

.tag {
  text-transform: lowercase;
  background-color: #E7F0F9;
  color: #048;
  font-size: 85%;
  padding: 1px 2px;
  font-family: Verdana;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 15px;
  white-space: nowrap;
  border: 1px solid #D8DFEA;
}

.cover {
  width: 150px;
  border: 1px solid white;
}

.track {
  float: left;
  width: 230px;
  height:300px;
  border: 1px solid grey;
  padding: 10px;
  margin-right: 10px;
  background-color: white;
  box-shadow: 2px 2px 5px black;
  color: black;
}

.track h3 {
  font-family: "Coolvetica";
  font-size: 18px;
  color: black;
  text-shadow: 2px 2px 5px rgb(129, 14, 253);
}

.track .main {
  width: 180px;
  float: left;
}

.track .rcolumn {
  width: 40px;
  float: left;
}

.tagCloud ul {
margin: 1em 0;
padding: .5em 10px;
text-align: center;
background: #71B5E9 url(bg_tags.gif) repeat-x;
}

.tagCloud {
  width: 400px;
}

.tagCloud li {
margin: 0;
padding: 0;
list-style: none;
display: inline;
}

.tag1, .tag2 {
font-size: 100%;
}

.tag3, .tag4 {
font-size: 130%;
}

.tag5, .tag6 {
font-size: 180%;
}

.tag7, .tag8 {
font-size: 210%;
}

.tag9, .tag10 {
font-size: 250%;
}

.tagcloud-link {
  position: absolute;
  top: 3em;
  right: 10px;
  margin-left: 10px;
}

.button-link {
  color: white;
  text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
/*	color: #123d54;*/
	padding: 3px 10px;
	background: -moz-linear-gradient(
		top,
		#afd9fa 0%,
		#588fad);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#afd9fa),
		to(#588fad));
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #003366;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}

.st_link .button-link {
  margin-left: 10px;
}

.person {
  font-family: "Coolvetica";
  font-size: 25px;
  color: black;
  text-shadow: 2px 2px 5px rgb(129, 14, 253);
}

.tagCloudContainer h1 {
  font-size: 15px;
}