<a href="{{link.url}}"><img src="{{link.icon}}" title="{{link.name}}"/></a>
<iframe src="https://embed.spotify.com/?uri={{link.spotifyUri}}" width="250" height="80" frameborder="0" allowtransparency="true"></iframe>