<!DOCTYPE html>
<html>
    <head>
        <title>Music Festival</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://cdn.dp.technion.ac.il/cluetip/jquery.cluetip.min.js"></script>

        <link rel="stylesheet" type="text/css" href="css/slideshow.css"></link>
        <link rel="stylesheet" type="text/css" href="http://cdn.dp.technion.ac.il/cluetip/jquery_cluetip.css" />

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
      <div id="st_main" class="st_main">
        <div class="st_overlay"></div>
        <h1>Music Festival</h1>
        <ul id="st_nav" class="st_navigation">
          {% for personId,person in persons %}
            <li class="album">
                <span class="st_link">
                    {{ person.name }}
                    <span class="st_arrow_down"></span>
                </span>
                <div class="st_wrapper st_thumbs_wrapper">
                    <div class="st_thumbs">
                      {% for trackId, track in person.tracks %}
                        {% include 'track.twig' %}
                      {% endfor %}
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
      </div>
      <div class="footer">Available on https://github.com/Guibod/music-festival under the <a href="http://sam.zoy.org/wtfpl/">WTFPL</a></div>

      <script type="text/javascript" src="js/tipsy.js"></script>
      <script type="text/javascript" src="js/slideshow.js"></script>
      <script type="text/javascript">
      $(document).ready(function() {
        $('.laius').cluetip();
        $('.hasPlayer').cluetip({multiple: true, activation: 'click', width: 500, closePosition: 'title', sticky: true });

      });
      </script>
    </body>
</html>