<!DOCTYPE html>
<html>
    <head>
        <title>Music Festival</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://cdn.dp.technion.ac.il/cluetip/jquery.cluetip.min.js"></script>

        <link rel="stylesheet" type="text/css" href="css/slideshow.css"></link>
        <link rel="stylesheet" type="text/css" href="http://cdn.dp.technion.ac.il/cluetip/jquery_cluetip.css" />


        <link href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
        <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"></script>
        <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js" type="text/javascript"></script>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
      <h1>Upload and test my own file</h1>

      <h3>Form</h3>
      <form method="post" action="my.php" enctype="multipart/form-data">
          <input type="hidden" name="MAX_FILE_SIZE" value="2097152">
          <input type="file" name="mySample">
          <input type="submit" value="Submit">
      </form>

      <h3>Sample</h3>
      <p>Below sample can be copied and edited in your text editor, upload the file through above form, and let the magic happen</p>
      <pre class="brush: yaml">{{sample}}</pre>

      <script type="text/javascript">
        SyntaxHighlighter.autoloader(
          'yaml            js/SyntaxHighlighter/shBrushYaml.js'
        );
        SyntaxHighlighter.all()
      </script>
    </body>
</html>