<div class="tagCloudContainer">
  <div class="tagCloud">
    <ul>
      {% for tag in tags %}
        <li class="tag{{tag.decile}}"> <a href="{{tag.url}}" rel="tag" target="_blank">{{tag.name}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>